
.home-main{
    background-color: #171414;
    width: 100vw;
    height: 100vh;

    flex-direction: column;
    font-family: "fira code";
    display: flex;
    align-items: center;
    justify-content: center;
}


#buttons .img{
    position: relative;
    left: .5rem;
    align-self: center;
    height: 60%;
}
#buttons .img:hover{
    cursor: pointer;
}
.error-msg{
    color:rgb(219, 82, 82);
    font-family: "fira code";
    font-size: 1.2rem;
    margin:1.4rem 1.7rem;
}
.img-hldr{
    width: 2.3rem;
    background-color: white;
    margin-left: .1rem;
    display: flex;
    align-items: center;
    height: 100%;
}
.command{
    font-size: 1.2rem;
    color: #41AD38;
    margin:3rem 0 0 1.6rem;
}
.output{
    font-family: "fira code";
    font-size: 1.2rem;

    color: #e4e7e8;
    margin:1.4rem 1.7rem;
}
.location{
    font-size: 1.3rem;
    color: #41AD38;
    margin:1.4rem 1.7rem;
}
#location{ 
    position: relative;
}

#window{
    position: relative;
    width: 85vw;
    overflow-y: auto;
    transition: linear 200ms;
    padding: 1rem;
    height: 85vh;
    border:2px solid rgba(112, 105, 105, 0.274);;
    border-top: none;
}

#buttons{
    width: 85vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    top: 0;
    background-color: rgba(112, 105, 105, 0.274);
    height: 2rem;  
}

@media (max-width: 768px){
    html{
    font-size: 70%;
    }
}
